# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE-specific files
.settings
.project
.vscode

# Ignore compiled binaries
bin
*.class

# Ignore files with sensizive data
gradle.properties
secring.gpg
